/* general */

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto Condensed', sans-serif;
  background-color:#dce0d4;
  color: #495e35;
  font-size: 15px;
}

.navbar-default {
  border: none;
  border-radius: 0;
  background: rgba(55, 71, 44, 0.9);
}

.navbar-nav {
  text-transform: uppercase;
}

.navbar-nav li a {
  color: #dce0d4 !important;
  text-shadow: none;
  font-size: 12px;
  font-weight: 600;
  transition: all .3s ease;
  padding: 15px 0;
}

.navbar-toggle {
  background-color:#dce0d4 ;
  border: none;
}

.icon-bar {
  background-color:#495e35 !important;
}

.navbar-right li a {
  margin: 0 10px;
}

.navbar-default .navbar-nav li a:focus,
.navbar-default .navbar-nav li a:hover {
  color: #c2ca9d !important;
}

/* mobil menü */
@media screen and (max-width: 767px) {
  .navbar-collapse {}
  .navbar-collapse .navbar-nav {}
  .navbar-collapse .navbar-nav li {}
  .navbar-collapse .navbar-nav li a {}
}

ul {list-style-type: none; padding: 0;}
a {color: #3a903b; font-weight: 600; transition: all .3s ease;}
a:hover, a:focus {color: #5cb85c; text-decoration: none;}
 

/* custom */

.icon {
  height: 24px;
  width: 29px;
}

.icon-search,
.icon-envelope {
  margin: 13px 5px;
  cursor: pointer;
}

.icon-search {
  background: url(../images/icon_sprite.png) 0 -24px;
}

.icon-envelope {
  background: url(../images/icon_sprite.png) 0 0;
  margin-left: 20px;
}

.header {
  background: url(../images/wagner_header.jpg);
  min-height: 350px;
  position: relative;
}

.header img {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  transition: all .6s ease;
}

.main {
  padding: 60px 0 80px 0;
}

.img-100 {
  width: 100%;
}

.intro {
  margin-bottom: 50px;
}

.section-title {
  text-transform: uppercase;
  font-size: 18px;
  padding: 8px 15px;
  background: #495e35;
  margin: 0 0 15px 0;
  display: inline-block;
  color: #dce0d4;
}

.subtitle {
  text-transform: uppercase;
  margin: 10px 0;
  font-size: 17px;
}

.colpadding {
  background: #495e35;
  padding: 20px;
  transition: all .3s ease;
}

.colpadding img {
  width: 100%;
}

.colpadding h2 {
  font-size: 20px;
  height: 40px;
  text-transform: uppercase; 
  transition: all .3s ease;
}

.colpadding:hover {
  background: #5d7745;
}

.col {
  padding: 10px;
}

.articles a {
  text-decoration: none;
  color: #dce0d4;
}

.leaf {
  margin: 80px 0;
  text-align: center;
}

footer {
  padding: 30px 0 50px 0;
  background: #495e35;
  color: #dce0d4;
}

footer a {
  color: #dce0d4;
  text-decoration: none;
  transition: all .3s ease;
}

footer a:hover {
  color: #c2ca9d;
  text-decoration: none;
}

footer img {
  padding: 30px;
  width: 314px;
}


/* custom sites css */

#alapitvany-tortenete .colpadding,
#alapitok .colpadding,
#alapitvany-celja .colpadding {
  margin: 10px;
}

#alapitvany-tortenete .col,
#alapitok .col,
#alapitvany-celja .col {
  padding: 0;
}

/* envelope and search modals */

#modal {
  position: relative;
}

.envelope-open,
.search-open {
  position: fixed;
  z-index: 1031;
  display: none;
  transition: all .3s ease;
  top: 50px;
}

.envelope-open h3,
.search-open h3 {
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: right;
}

.envelope-open {
  top: 50px;
  right: 0;
  width: 100%;
}

/*.envelope-open {
  margin-left: 115px;
}*/

.search-open {
  top: 50px;
  right: 0;
  width: 100%;
}

.search-open .arrow-top {
  margin-left: 90px;
}

.modal-content {
  padding: 2px 0px 2px 0px;
  background: rgba(250, 250, 250, 0.9);
  color: #495e35;
  border-radius: 0px;
  width:100%;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .0);
  box-shadow: 0 0px 0px rgba(0, 0, 0, .0);
  border: 0px solid rgba(0, 0, 0, .0);
  text-align: right;
  height:38px;
}

.modal-content h3,
.modal-content p,
.modal-content form {
  display: inline;
  margin: 0 20px;
  vertical-align: middle;
  line-height: 1.4;
}

.icon-opened {
  display: block !important;
}

.modal-content h3 {
  margin-top:2px;
}

.FooteMenuText  {
  margin-bottom: 200px;
}

#texlink {
color: #3a903b;
}

#texlink:hover {
color: #5cb85c;
transition: all .3s ease;
}


@media (min-width: 768px) {
  .menu li a:after {
    content: " • ";
    margin: 0 10px;
  }
  .menu li:last-child a:after {
    content: "";
    margin: 0 10px;
  }
}

@media (max-width: 767px) {
  .menu li {
    padding-left: 15px;
  }
}

@media (max-width: 991px) {
  .navbar-right {
    display: none !important;
  }
  .navbar-nav li a {
    font-size: 37px;
    line-height: 3;
  }
  .menu li a:after {
    content: "";
  }
  .header img {
    left: 50%;
    top: 70%;
  }
}